<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h4>What is partials ?</h4>
    <p>Splitting up a function into multiple smaller functions</p>
    <p>Partials is same like curring just a small difference</p>
    <p>In currying we call a function(a,b,c) => func(a)(b)(c)</p>
    <span>like this i.e. always 1 aurguement at a time</span>
    <p>
      In partials we call a function(a,b,c) => func(a)(b,c) or func (a,b)(c)
    </p>
    <span
      >like this i.e. 1 arguement and after it can have remaining
      aurguementi.e.(more than one)
    </span>
    <p>run node index.js</p>
    <script src="./index.js"></script>
  </body>
</html>
